.board {
    display: flex;
    flex-direction: row;
}

.colA, .colB {
    width: 50%;
    padding: 2%;
}

.colA {
    float: left;
    background-color: aqua;
}

.colB {
    float: right;
    background-color: red;
}

.box {
    padding: 2%;
    border: 1px solid black;
    background-color: white;
}