.colA, .colB {
    padding: 2%;
    border: 1px solid #000;
    width: 50%;
    margin: 2%;
    height: 800px;
}

.question {
    display: flex;
    flex-direction: row;
}

#select {
    border: 1px solid #000;
    margin: 2%;
}