@import "../../styles/utilities/_mixins.scss";
@import '../../styles/utilities/_variables.scss';

.colA, .colB {
    @include buttonTheme($black, $white, 2%, 10px);
    border: 1px solid $black;
    width: 50%;
    margin: 2%;
}

.question {
    clear: both;
    display: flex;
    flex-direction: row;
}

#select1, #select2 {
    border: 1px solid $black;
    margin: 2%;
    border-radius: 10px;
}

#select1 {
    background-color: $colAColor;
}

#select2 {
    background-color: $colBColor;
}

#select1:hover {
    cursor: pointer;
}

#timer {
    @include buttonTheme($black, $colAColor, 1%, 10px);
    float: right;
    margin-right: 2%;
}

.navigateQues {
    clear: both;
}

.navButton {
    @include buttonTheme($white, $colAColor, 1%, 10px);
    margin: 2%;
    border: 1px solid $black;
    width: 10%;
    font-size: 1.1rem;
}

.questionNo, .questionName {
    clear: both;
    margin-left: 2%;
    float: left;
}

#navigator {
    float: left;
    margin: 2%;
}